* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: canada-type-gibson,sans-serif;
  font-weight: 300;
  font-style: normal;
  background: url(../img/Do_pattern.svg);
  background-size: 110px 110px;
}
header{
  display: inline-block;
}
.hide {
    display: none;
}
.visible {
  display: block;
}
.logo{
  height: 43px;
  padding-top: 18px;
  padding-right: 20px;
  float: left;
}
.logo_name{
  font-weight: 700;
  font-style: normal;
  font-size: 48pt;
  color: #21D39B; 
}
p.logo_name span{
  color: #6C00BC;
}
.js__task-add{
  background-image: url(../img/Do_icon_add_active.svg);
  background-repeat:no-repeat;
  width: 40px;
  height: 40px;
}
.js__task-edit{
  background-image: url(../img/Do_icon_edit.svg);
  background-repeat:no-repeat;
  width: 40px;
  height: 40px;
}
.js__task-check{
  background-image: url(../img/Do_icon_check.svg);
  background-repeat:no-repeat;
  width: 40px;
  height: 40px;
}
#js__task-remove{
  background-image: url(../img/Do_icon_delete.svg);
  background-repeat:no-repeat;
  width: 40px;
  height: 40px;
}
.container{
  background-color: #ffffff;
  box-shadow: 5px 0 17px -6px #706F6F, -5px 0 15px -5px #706F6F;
  margin: 0 100px 0 100px;
  padding-top: 100px;
}
.claim{
  font-size: 14pt;
  font-weight: 300;
  color: #BFBFBF;
  width: 464px;
  padding-left: 100px;
}
.main{
  padding: 100px;
}
.header__div-logo{
  padding-left: 20px;
}
button{
  cursor: pointer;
}
#js__tasks{
  list-style-type: none;
}
#task-options {
  padding-top: 100px;
}
.todo-element{
  font-size: 24pt;
  font-weight: 300px;
  color: #000000;
}
.task-date{
  font-size: 14pt;
}